.container {
  justify-content: space-between;
  align-items: center;
  background-color: #0a192f;
  position: fixed;
  width: 100%;
  height: 100%;
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.backToHome {
  margin: 3rem 0 0;
}
